/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    max-width: 100%;
    
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #464646;
}

::placeholder{
    color: #b9b9b9 ;
    font-family: 'Raleway';
}


.header {
    padding:2rem;
    color: #464646;
    margin-bottom: 0;
    

}

.header__estrellas-nombre {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    font-weight: bolder;
    padding-left: 2rem;


}

.menu__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.menu__list__item {
    font-size: 1rem;
    margin-right: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: 0.7rem;
    font-weight: 600;

}

.title {
    padding: 2rem;
    margin-top: -1.5rem;
    color: #464646;


}

.title__profile {
    margin-bottom: 2rem;
    width: 30%;
    height: auto;
    padding-left: 1.5rem;
}

.title__bio {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;

}

.title__subsection {
    font-weight: normal;
    text-align: center;
}

.title__network {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-weight: bold;
    gap: 2rem;
    align-items: center;
    text-align: center;

}

.title__network__item{
    display: flex;
    flex-wrap: nowrap;
}

.about {
    text-align: center;
    padding: 0.5rem 2rem 2rem 2rem;
    color: #464646;
    background-color: #EAF2FD;
    width: 100%;
    
}

.about__title {
    font-size: 1.5rem;
}


.about__firma {
    display: flex;
    justify-items: flex-start;
    margin-left: 2rem;
    padding-top: 0.5rem;
}


.skills__title {
    font-size: 1.5rem;
    text-align: center;
}

.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills__box{
    background: white;
    display: flex;
    padding: 2rem 4rem 4rem 1rem;
    height: 5rem;
    justify-content: center;
    align-items: baseline;
    margin: 1rem;
}


.skills__img{
    align-items: flex-start;
}

.skills__name{
    font-weight: bold;
    padding-top: 1rem;
}

.hobbies{
    color: #464646;
    margin-bottom: 3rem;
    
}

.hobbies__title{
    font-size: 1.5rem;
    text-align: center;
}

.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hobbies__box{
    background: white;
    padding: 2rem 4rem 4rem 1rem;
    height: 3rem;
    width: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.hobbies__name{
    font-weight: bold;
    padding-top: 1rem;
}

.academic{
    padding: 0.5rem 2rem 2rem 2rem;
    color: #464646;
    background-color: #EAF2FD;
    width: 100%;
}

.academic__title{
    font-size: 1.5rem;
    text-align: center;
}

.academic__courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.academic__courses__box{
    text-align: center;
}

.academic_item_img{
    padding: 4rem;
    background-color: white;
}

.experience{
    color: #464646;
    
}

.experience__section__title{
    text-align: center;
}

.experience__img{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    margin: 1rem;
    

    
}

.experience__title{
    text-align:center;
    font-weight: bold;
    margin: 1rem
    
}

.experience__text{
    text-align: center;
    font-weight: normal;

}

.experience__description{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.experiencia__botao--repo{
    margin-right: 1rem;
}

.experiencia__botao--repo{
    color:#2A7AE4;
    border-color: #2A7AE4;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.experiencia__botao--repo:hover{
    scale: 1.1;
    background-color: #2A7AE4 ;
    color: white;
}

.experience__botao--demo{
    color:white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    background: #2A7AE4;
    
}

.experience__botao--demo:hover{
    scale: 1.1;
    background-color: white ;
    color: #2A7AE4;
}

.formcontato{
    padding: 0.5rem 2rem 2rem 2rem;
    color: #464646;
    background: #EAF2FD;
    width: 100%;
    
    
    

    
}

.formcontato__title{
    text-align: center;
}

.formcontato__subtext{
    font-weight: normal;
    text-align: center;
    
}

.formcontato__form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    

}

.formcontato__input{
    border: none;
    border-radius: 5px;
    min-height: 3.5rem;
    padding-left: 1rem;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    
}

.formcontato__input:focus{
    border-bottom: #2A7AE4 solid;
    outline: none;
}

.formcontato__textarea{
    padding: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
}

.formcontato__textarea:focus{
    border-bottom: #2A7AE4 solid;
    outline: none;
    resize: none;
}

.formcontato__botao{
    color: white;
    background-color: #2A7AE4;
    border: none;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 2px;
    font-size: 1rem;
    align-items: flex-start;
    width: fit-content;
}

.formcontato__botao:hover{
    cursor: pointer;
}

.footer{
    background: white;
    text-align: center;
    padding: 1rem;

    
}


@media (min-width: 0px) {
    .formcontato__img{
        display: none;
     }
}

/*Mobile*/
@media (min-width: 768px) {
    .title__div{
        display: flex;
        flex-direction: row-reverse;
        gap: 3rem;
    }
    .title__profile{
        width: 30%;
        height: 30%;
        margin-right: -2rem;
    }

    .academic__courses{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}

@media (min-width: 1024px) {
    .experiencie__box{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2.5rem;
    }

    .experience > :nth-child(3){
        display: flex;
        flex-direction: row-reverse;
    }

    .experience > :nth-child(5){
        display: flex;
        flex-direction: row-reverse;
    }

    .experience__img{
        max-width: 70%;
        max-height: 70%;
    }

    .formcontato__img {
        display: flex;
    }

    .formcontato__form{
        max-width: 50rem;
    }

    .formcontato__contacto{
        display: flex;
        
    }
    .formcontato__img{
        margin: 1rem;
        padding: 1rem;
    }
    
    .formcontato__botao{
        margin-top: 0.2rem;
    }

    .menu__list{
        margin-top: -3.5rem;
        display: flex;
        justify-content: flex-end;

    }

    .title__bio{
        font-size: 3rem;
    }

    .about__title{
        font-size: 2rem;
    }

    .skills__title{
        font-size: 2rem;
    }

    .hobbies__title{
        font-size: 2rem;
    }

    .academic__title{
        font-size: 2rem;
    }

    .experience__section__title{
        font-size: 2rem;
    }
    
    .experience__title{
        font-size: 1.5rem;
    }

    .formcontato__title{
        font-size: 2rem;
    }
}